<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leads</title>
    <style>
        th, td{
            border: 2px solid black;
        }
        td{
            padding: 5px;
        }
    </style>
</head>

<body>
    <table style="border:2px solid black">
        <tr>
            {% for lead in leads %}
                {% if forloop.first %}
                    {% for header in lead.keys %}
                        <th>{{ header }}</th>
                    {% endfor %}
                {% endif %}
                <tr>
                    {% for value in lead.values %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tr>
    </table>
    <br><br>
    {% if followup %}
        <table style="border:2px solid black">
            <tr>
                {% for lead in followup %}
                    {% if forloop.first %}
                        {% for header in lead.keys %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        {% for value in lead.values %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
</body>

</html>